@{
    Layout = null;
}
<h3>@ViewBag.Title：农机统计<span>&nbsp;<i class="fa fa-anchor">@ViewBag.Time</i></span></h3>
<div class="col-md-8">
    <div id="Agricultural"></div>
</div>
<div class="col-md-4">
    <h4>统计数据</h4>
    <table class="table">
        <thead>
            <tr>
                <th>种类</th>
                <th>数量(单位：辆)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>农用四轮机</th>
                <td>@ViewBag.FourTurbines</td>
            </tr>
            <tr>
                <th>农机具</th>
                <td>@ViewBag.AgriculturalMachinery</td>
            </tr>
           
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $('#Agricultural').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        colors: ['#058DC7', '#50B732', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        title: {
            text: '扇形统计图'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        credits: {
            enabled: false,
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: '农用四轮机',
                y: @ViewBag.FourTurbines,
            }, {
                name: '农机具',
                y: @ViewBag.AgriculturalMachinery,
            }, ]
        }]
    });
</script>