@{ 
    Layout = null;
}
<h3>@ViewBag.Title：种植统计<span>&nbsp;<i class="fa fa-anchor">@ViewBag.Time</i></span></h3>
<div class="col-md-8">
    <div id="breeding"></div>
</div>
<div class="col-md-4">
    <h4>统计数据</h4>
    <table class="table">
        <thead>
            <tr>
                <th>种类</th>
                <th>数量(单位：亩)</th>
            </tr>   
        </thead>
        <tbody>
            <tr>
                <th>玉米</th>
                <td>@ViewBag.Corn</td>
            </tr>
            <tr>
                <th>大豆</th>
                <td>@ViewBag.SoyBeans</td>
            </tr>
            <tr>
                <th>马铃薯</th>
                <td>@ViewBag.Potato</td>
            </tr>
            <tr>
                <th>葵花</th>
                <td>@ViewBag.Sunflower</td>
            </tr>
            <tr>
                <th>高粱</th>
                <td>@ViewBag.Sorghum</td>
            </tr>
            <tr>
                <th>杂粮</th>
                <td>@ViewBag.Grains</td>
            </tr>
            <tr>
                <th>水稻</th>
                <td>@ViewBag.Rice</td>
            </tr>
            <tr>
                <th>瓜菜</th>
                <td>@ViewBag.Vegetables</td>
            </tr>
            <tr>
                <th>杂豆</th>
                <td>@ViewBag.MixedBeans</td>
            </tr>
            <tr>
                <th>其它农作物</th>
                <td>@ViewBag.OthersArea</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $('#breeding').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        colors: ['#058DC7', '#50B732', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        title: {
            text: '扇形统计图'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        credits: {
            enabled: false,
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: '玉米',
                y: @ViewBag.Corn,
            }, {
                name: '大豆',
                y: @ViewBag.SoyBeans,
            }, {
                name: '马铃薯',
                y: @ViewBag.Potato,
            }, {
                name: '葵花',
                y: @ViewBag.Sunflower,
            }, {
                name: '高粱',
                y: @ViewBag.Sorghum,
            }, {
                name: '杂粮',
                y: @ViewBag.Grains,
            }, {
                name: '水稻',
                y: @ViewBag.Rice,
            }, {
                name: '瓜菜',
                y: @ViewBag.Vegetables,
            },{
                name: '杂豆',
                y: @ViewBag.MixedBeans,
            },{
                name: '其它农作物',
                y: @ViewBag.OthersArea,
            }, ]
        }]
    });
</script>