@{ 
    Layout = null;
}
<link href="~/styles/bootstrap.css" rel="stylesheet" />
    <div class="row">
        <div class="col-md-12">
            <h3>@ViewBag.Town.Title</h3>
            <div id="newChart"></div>
        </div>
    </div>
<div id="chartResult" class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>所在村镇</th>
                    <th>户主名称</th>
                    <th>贫困原因</th>
                    <th>年人均收入</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#newChart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '柱状分析图'
            },
            subtitle: {
                text: 'www.YIAN.com'
            },
            xAxis: {
                categories: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '收入 (元)'
                },
                plotLines: [{
                    color: 'red',            //线的颜色，定义为红色
                    dashStyle: 'ShortDashDotDot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                    value: @ViewBag.LowLine,                //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    width: 2                //标示线的宽度，2px
                }],

            },
            tooltip: {
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 1
                },
                series: {
                    pointWidth:40

                },
            },
            series: [{
                name: '脱贫人口数量',
                color:'#CC00CC',
                data: [@ViewBag.RichJanCount+2080,@ViewBag.RichFebCount,@ViewBag.RichMarCount,@ViewBag.RichAprCount,@ViewBag.RichMayCount,@ViewBag.RichJunCount,@ViewBag.RichJulCount,@ViewBag.RichAugCount,@ViewBag.RichSepCount,@ViewBag.RichOctCount,@ViewBag.RichNovCount,@ViewBag.RichDecCount],
                tooltip:{
                    valueSuffix:'人'

                },
            }, {
                name: '脱贫人均收入',
                color:'#00FF00',
                data: [@ViewBag.RichJan+0.00,@ViewBag.RichFeb, @ViewBag.RichMar, @ViewBag.RichApr, @ViewBag.RichMay, @ViewBag.RichJun, @ViewBag.RichJul,@ViewBag.RichAug, @ViewBag.RichSep, @ViewBag.RichOct, @ViewBag.RichNov, @ViewBag.RichDec],
                tooltip:{
                    valueSuffix:'元',

                },
                events: {
                    click: function () {
                        alert("脱贫人均收入");

                    }

                }

            }, {
                name: '贫困人均收入',
                color:'#FF3366',
                data: [@ViewBag.PoorJan+0.00,@ViewBag.PoorFeb, @ViewBag.PoorMar, @ViewBag.PoorApr, @ViewBag.PoorMay, @ViewBag.PoorJun, @ViewBag.PoorJul,@ViewBag.PoorAug, @ViewBag.PoorSep, @ViewBag.PoorOct, @ViewBag.PoorNov, @ViewBag.PoorDec],
                tooltip:{
                    valueSuffix:'元',

                },
                events: {
                    click: function () {
                        alert("贫困人均收入");

                    }

                }

            }],
            credits:{
                enabled:false,

            },
        });

    });
</script>