@model IEnumerable<FamilySituation>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>牛</th>
                        <th>马</th>
                        <th>羊</th>
                        <th>鸡</th>
                        <th>鸭</th>
                        <th>鹅</th>
                        <th>其它动物</th>
                        <th>玉米</th>
                        <th>大豆</th>
                        <th>马铃薯</th>
                        <th>葵花</th>
                        <th>高粱</th>
                        <th>杂粮</th>
                        <th>水稻</th>
                        <th>瓜菜</th>
                        <th>杂豆</th>
                        <th>其它种植</th>
                        <th>年总收入</th>
                        <th>年人均收入</th>
                        <th>种植业收入</th>
                        <th>养殖业收入</th>
                        <th>其它收入</th>
                        <th>补贴</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var x in Model)
                    {
                        <tr>
                            <td>@x.CreateTime</td>
                            <td>@x.Cow</td>
                            <td>@x.Horse</td>
                            <td>@x.Sheep</td>
                            <td>@x.Chicken</td>
                            <td>@x.Duck</td>
                            <td>@x.Goose</td>
                            <td>@x.OthersAnimal</td>
                            <td>@x.Corn</td>
                            <td>@x.SoyBeans</td>
                            <td>@x.Potato</td>
                            <td>@x.Sunflower</td>
                            <td>@x.Sorghum</td>
                            <td>@x.Grains</td>
                            <td>@x.Rice</td>
                            <td>@x.Vegetables</td>
                            <td>@x.MixedBeans</td>
                            <td>@x.OthersArea</td>
                            <td>@x.YearTotalIncome</td>
                            <td>@x.YearAnnualPerCapitaIncome</td>
                            <td>@x.FarmingIncome</td>
                            <td>@x.BreedingIncome</td>
                            <td>@x.OthersIncome</td>
                            <td>@x.TipsIncome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
