@model Family
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h3>编辑户主信息</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <form asp-action="EditFamily" asp-controller="Admin" asp-route-id="@Model.Id" method="post" id="editfamily">
                <label>
                    贫困户编号：
                </label>
                <input type="text" class="form-control" name="PoorNo" placeholder="贫困户编号" value="@Model.PoorNo" /><br />
                <label>
                    联系电话：
                </label>
                <input type="text" class="form-control" name="PhoneNumber" placeholder="联系电话" value="@Model.PhoneNumber" /><br />
                <label>
                    户主姓名：
                </label>
                <input type="text" class="form-control" name="Name" placeholder="户主姓名" value="@Model.Name" /><br />
                <label>
                    年龄：
                </label>
                <input type="text" class="form-control" name="Age" placeholder="年龄" value="@Model.Age" /><br />
                <label>
                    性别：
                </label>
                <select name="Sex" class="selectHide form-control">
                    <option class="optionHide">@Model.Sex</option>
                    <option>男</option>
                    <option>女</option>
                </select><br />
                <label>
                    地址：
                </label>
                <input type="text" class="form-control" name="Address" placeholder="地址" value="@Model.Address" /><br />
                <label>
                    身份证号：
                </label>
                <input type="text" class="form-control" name="CardNo" placeholder="身份证号" value="@Model.CardNo" /><br />
                <label>
                    属否残疾：
                </label>
                <select name="IsDisability" class="selectHide form-control">
                    <option class="optionHide">@Model.IsDisability</option>
                    <option>否</option>
                    <option>是</option>
                </select><br />
                <label>
                    与户主关系：
                </label>
                <select name="RelationShip" class="form-control">
                    <option>户主</option>
                </select><br />
                <label>
                    教育程度：
                </label>
                <select name="Education" class="selectHide form-control">
                    <option class="optionHide">@Model.Education</option>
                    <option>小学</option>
                    <option>中学</option>
                    <option>高中</option>
                    <option>大学</option>
                </select><br />
                <label>
                    在校生情况：
                </label>
                <select name="IsOnSchool" class="selectHide form-control">
                    <option class="optionHide">@Model.IsOnSchool</option>
                    <option>否</option>
                    <option>是</option>
                </select><br />
                <label>
                    劳动能力：
                </label>
                <select name="Ability" class="selectHide form-control">
                    <option class="optionHide">@Model.Ability</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select><br />
                <label>
                    身体状况：
                </label>
                <select name="IsHealth" class="selectHide form-control">
                    <option class="optionHide">@Model.IsHealth</option>
                    <option>健康</option>
                    <option>患病</option>
                </select><br />
                <label>
                    务工情况：
                </label>
                <select name="Work" class="selectHide form-control">
                    <option class="optionHide">@Model.Work</option>
                    <option>赋闲</option>
                    <option>临时工</option>
                    <option>短工</option>
                    <option>长期工</option>
                </select><br />
                <label>
                    是否低（五）保：
                </label>
                <select name="IsLow" class="selectHide form-control">
                    <option class="optionHide">@Model.IsLow</option>
                    <option>是</option>
                    <option>否</option>
                </select><br />
                <label>
                    是否参加新农合：
                </label>
                <select name="IsNewFarm" class="selectHide form-control">
                    <option class="optionHide">@Model.IsNewFarm</option>
                    <option>是</option>
                    <option>否</option>
                </select><br />
                <label>
                    是否参加养老保险：
                </label>
                <select name="IsOldInsurance" class="selectHide form-control">
                    <option class="optionHide">@Model.IsOldInsurance</option>
                    <option>是</option>
                    <option>否</option>
                </select><br />
                <label>
                    是否务工保险：
                </label>
                <select name="IsWorkInsurance" class="selectHide form-control">
                    <option class="optionHide">@Model.IsWorkInsurance</option>
                    <option>是</option>
                    <option>否</option>
                </select><br />
                <label>
                    是否一技之长：
                </label>
                <select name="Skills" class="selectHide form-control">
                    <option class="optionHide">@Model.Skills</option>
                    <option>无</option>
                    <option>瓦工</option>
                    <option>木工</option>
                    <option>力工</option>
                    <option>手工业</option>
                    <option>农业机械驾驶</option>
                    <option>养殖</option>
                    <option>种植</option>
                </select><br />
                <label>
                    对接人：
                </label>
                <input type="text" name="Helper" class="form-control" value="@Model.Helper" /><br />
                <label>
                    方法：
                </label>
                <input type="text" name="Measures" class="form-control" value="@Model.Measures" /><br />

                <button type="submit" id="send" class="btn btn-success form-control">更新</button><br />
            </form>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-2.1.1.min.js"></script>
<script>
    $(function () {
        $("select.selectHide").click(function () {
            $(this).children("option.optionHide").hide();
        })
    })
</script>