@model IEnumerable<FamilyMember>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h3>家庭成员<a asp-action="Situation" asp-controller="Admin" asp-route-id="@ViewBag.FamilyHost.Id" class="btn btn-primary">查看家庭情况</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>年龄</th>
                        <th>地址</th>
                        <th>身份证号</th>
                        <th>是否残疾</th>
                        <th>与户主关系</th>
                        <th>教育程度</th>
                        <th>在校生情况</th>
                        <th>劳动能力</th>
                        <th>身体情况</th>
                        <th>务工情况</th>
                        <th>低(五)保</th>
                        <th>新农合</th>
                        <th>养老保险</th>
                        <th>务工保险</th>
                        <th>技能</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.FamilyHost.Name</td>
                        <td>@ViewBag.FamilyHost.Sex</td>
                        <td>@ViewBag.FamilyHost.PhoneNumber</td>
                        <td>@ViewBag.FamilyHost.Age</td>
                        <td>@ViewBag.FamilyHost.Address</td>
                        <td>@ViewBag.FamilyHost.CardNo</td>
                        <td>@ViewBag.FamilyHost.IsDisability</td>
                        <td>@ViewBag.FamilyHost.RelationShip</td>
                        <td>@ViewBag.FamilyHost.Education</td>
                        <td>@ViewBag.FamilyHost.IsOnSchool</td>
                        <td>@ViewBag.FamilyHost.Ability</td>
                        <td>@ViewBag.FamilyHost.IsHealth</td>
                        <td>@ViewBag.FamilyHost.Work</td>
                        <td>@ViewBag.FamilyHost.IsLow</td>
                        <td>@ViewBag.FamilyHost.IsNewFarm</td>
                        <td>@ViewBag.FamilyHost.IsOldInsurance</td>
                        <td>@ViewBag.FamilyHost.IsWorkInsurance</td>
                        <td>@ViewBag.FamilyHost.Skills</td>
                        <td><a asp-action="EditFamily" asp-controller="Admin" asp-route-id="@ViewBag.FamilyHost.Id" class="btn btn-primary fa fa-edit">修改</a></td>
                    </tr>
                    @foreach(var x in Model)
                    {
                        <tr>
                            <td>@x.Name</td>
                            <td>@x.Sex</td>
                            <td>@x.PhoneNumber</td>
                            <td>@x.Age</td>
                            <td>@x.Address</td>
                            <td>@x.CardNo</td>
                            <td>@x.IsDisability</td>
                            <td>@x.RelationShip</td>
                            <td>@x.Education</td>
                            <td>@x.IsOnSchool</td>
                            <td>@x.Ability</td>
                            <td>@x.IsHealth</td>
                            <td>@x.Work</td>
                            <td>@x.IsLow</td>
                            <td>@x.IsNewFarm</td>
                            <td>@x.IsOldInsurance</td>
                            <td>@x.IsWorkInsurance</td>
                            <td>@x.Skills</td>
                            <td><a asp-action="EditFamilyMember" asp-controller="Admin" asp-route-id="@x.Id" class="btn btn-primary fa fa-edit">修改</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
